<h1>Overzicht Toernooien</h1>

<ul class="list-group">
    <li *ngFor="let tournament of Tournaments$ | async" class="list-group-item">
        Tournament: {{tournament.name}} &nbsp; {{tournament.id}}
        <button class="btn btn-secondary">Wijzigen</button> &nbsp;
        <button (click)='deleteTournament(tournament.id)' class="btn btn-danger">Verwijder</button>
    </li>
</ul>

<button type="button" class="btn btn-primary">Voeg een toernooi toe</button>

<div id="voegtoe">
<h1>Voeg een tournooi toe</h1>


    <div class="form-group">
      <label for="InputTournamentname">Naam Toernooi</label>
      <input type="text" class="form-control" #tournamentname>
      <small id="tournamentHelp" class="form-text text-muted">Vul de naam van het toernooi in</small>
    </div>
    <div class="form-group">
        <label for="InputMatchduration">Duur van de wedstrijd</label>
        <input type="text" class="form-control" #matchduration>
        <small id="matchdurationHelp" class="form-text text-muted">Vul hier de duur van de wedstrijd in (minuten)</small>
    </div>
    <div class="form-group">
        <label for="InputIntermission">Pauze tussen de wedstrijden</label>
        <input type="text" class="form-control" #Intermission>
        <small id="intermissionHelp" class="form-text text-muted">Vul hier hoelang de pauze is tussen de wedstrijden (minuten)</small>
    </div>
    <div class="form-group">
        <label for="InputPoints_win">Aantal punten bij winst</label>
        <input type="text" class="form-control" #points_win>
        <small id="points_winHelp" class="form-text text-muted">Vul hier de punten in van een gewonnen wedstrijd</small>
    </div>
    <div class="form-group">
        <label for="InputPoints_draw">Aantal punten bij een gelijkspel</label>
        <input type="text" class="form-control" #points_draw>
        <small id="points_drawHelp" class="form-text text-muted">Vul hier de punten in van een gelijkspel</small>
    </div>                                 
    <button  (click)='addTournament(
        tournamentname.value,
        matchduration.value,
        Intermission.value,
        points_win.value,
        points_draw.value
    )' class="btn btn-primary">Voeg een toernooi toe</button>
  
</div>
